<div class="container-fluid">
  <div cdkDropListGroup class="row">
    <div class="col-sm-6 col-lg-3 mb-3" *ngFor="let column of boardService.getBoard$() | async">

      <!-- Column Title -->
      <div class="d-flex justify-content-between align-items-center p-2 shadow-sm column-header">
        <h2 class="m-0">{{column.title}}</h2>
        <button mat-icon-button class="icon-delete" (click)="onDeleteColumn(column.id)">
          <mat-icon style="font-size: 20px;">delete</mat-icon>
        </button>
      </div>

      <!-- Add New Card To Column -->
      <app-dialog (emitText)="onAddCard($event, column.id)" [question]="'Add new card in ' + column.title + ' column'">
        <button mat-raised-button class="w-100 mb-1 btn-add">+</button>
      </app-dialog>

      <div cdkDropList [cdkDropListData]="column.list" class="example-list" (cdkDropListDropped)="drop($event)">
        <div cdkDrag class="example-box" [ngStyle]="{background: 'DarkCyan'}" *ngFor="let item of column.list">
          <div class="d-flex justify-content-between align-items-start mb-2">
            <div class="flex-column">
              <p class="mt-1">{{ item.text }}</p>
              <p class="mt-1">{{ item.description }}</p>
            </div>

            <div button-pannel>
              <button mat-icon-button class="mat-edit" (click)="onEditCard(item.id, column.id, item)">
                <mat-icon style="font-size: 18px;">edit</mat-icon>
              </button>
  
              <button mat-icon-button class="icon-delete" (click)="onDeleteCard(item.id, column.id)">
                <mat-icon style="font-size: 18px;">delete</mat-icon>
              </button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
